<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-12">
      <h1 class="mat-h1">Dashboard</h1>
      <mat-form-field appearance="fill" class="col-12">
        <mat-label>Search</mat-label>
        <input matInput #searchBox id="search-box" (input)="search(searchBox.value)" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-list>
        <mat-list-item *ngFor="let auction of auctions$ | async">
          <img matListAvatar src="https://via.placeholder.com/40" alt="WoW Icon" />
          <h3 matLine>
            <a routerLink="/auction-detail/{{ auction.id }}">{{ auction.name }}</a>
          </h3>
        </mat-list-item>
      </mat-list>
      <p>{{ story$ | async }}</p>
    </div>
  </div>
</div>
